.header {
    display: flex;
    justify-content: space-between;
    height:50px;
    padding: 10px 20px;
    background-color: #f9f3e7;
    border-bottom: 2px solid #d7bca8;
  }
  
  .logo-container {
    display: flex;
    
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .brand-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #d97708;
  }
  
  .social-icons {
    display: flex;
    
  }
  
  .icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
